
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


html{
    box-sizing: border-box;
    font-size: 100%;
}
* , *::after , *::before {
    box-sizing: inherit;
}
h2{
    padding: 0px;
    margin: 0px;
    
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    padding: 0px;
     justify-content:space-between;
     font-family: Figtree , "Times New Roman" , Arial, Helvetica, sans-serif;
}
.card-container{
    background-color: hsl(0, 0%, 100%);
    font-size: 1rem;
    padding: 0.751em;
    border-radius: 0.5em;
    display:flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    
    flex-basis: 0;
    gap: 0.5rem;
    
}
.one{
    display:flex;
    justify-content: center;
}
.two{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    color: hsl(0, 0%, 7%);
}
.text{
    color:  hsl(0, 0%, 42%);
}
.button{
    width: min-content;
    font-size: 0.99rem;
    padding: 0.5em;
    background-color: hsl(47, 88%, 63%);
    border-radius: 0.3125em;
    font-weight: 800;
}
.five{
    display: flex;
    gap: 0.3125rem;
    align-items: center;
    color: hsl(0, 0%, 7%);
    font-weight: 500;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
}
h2:hover , h2:focus{
    color: hsl(47, 88%, 63%);
}
.attribution { font-size: 0.6875rem; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 450px){
    html{
        font-size: 75%
    }
}
