
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
html{
    box-sizing: border-box;
}
* , *::after , *::before {
    box-sizing: inherit;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    padding: 0px;
     justify-content:space-between;
     font-family: Figtree;
}
.card-container{
    background-color: hsl(0, 0%, 100%);
    padding: 12.5px;
    border-radius: 16px;
    display:flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    width: 336px;
    flex-basis: 0;
    gap: 15px;
    
}
.one{
    display:flex;
    justify-content: center;
}
.two{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: hsl(0, 0%, 7%);
}
.text{
    color:  hsl(0, 0%, 42%);
}
.button{
    width: min-content;
    padding: 8px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    font-weight: 800;
}
.five{
    display: flex;
    gap: 8px;
    align-items: center;
    color: hsl(0, 0%, 7%);
    font-weight: 500;
}
h2:hover , h2:focus{
    color: hsl(47, 88%, 63%);
}
h2 {
    padding: 0px;
    margin: 0px;
}
